.account {
  color: #49ecbd;
}

.wallet {
  display: flex;
  justify-content: center;
  height: 24px;
  padding: 0 24px;
  line-height: 21px;
  border-radius: 12px;
  font-size: 16px;
  color: #030812;
  background-color: #49ecbd;
}