.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50vh;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 48px;
  margin-bottom: 70px;
  color: #49ECBD;
}

.titleText {
  margin-left: 18px;
}

.titleRobotImage {
  height: 144px;
  width: auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 1121px;
  margin-bottom: 80px;
}

.main {
  position: relative;
}

.backgroundImage {
  height: 877px;
  width: auto;
}

.process {
  position: absolute;
  top: 24.88px;
  right: -55px;
}

.processNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.processAmount {
  font-size: 90px;
  color: #49ECBD;
}

.processLevel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  font-size: 38px;
  color: #151423;
  background-color: #49ECBD;
}

.tipImage {
  position: absolute;
  top: -24px;
  right: -24px;
  width: 22px;
  height: 27px;
}

.dashboard {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 405px;
  padding: 24px;
  border-radius: 28px;
  background-color: #151423;
  border: 1px solid #26243F;
  box-shadow: 0 0 12px #232239;
}

.dashboardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  font-size: 13px;
  color: #49ECBD;
}

.dashboardTitleImage {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listTitle {
  font-size: 48px;
  color: #49ECBD;
}
