* {
  line-height: 1.2;
  font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
}

@font-face {
  font-family: "Bungee-Regular";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://d2mn26qoefb5xq.cloudfront.net/Poppins-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/static/Poppins-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/static/Poppins-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/static/Inter-Bold.woff2) format("woff2");
}
